# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
some_password: 
homeconnect_client_id: 
homeconnect_client_secret: 
tuya_username: 
tuya_password: 
tuya_country_code: 
velux_host: 
velux_password: 
unifiprotect_host: 
unifiprotect_username: 
unifiprotect_password: 
fullup_payload: '{ "email" : "example@gmail.com", "password" : "password", "language" : "nl" }'
doccle_user: 
doccle_password: 
openweathermap_apikey: 
google_client_id: 
google_client_secret: 
sp_dc: 
sp_key: 
kristel_sp_dc: 
kristel_sp_key: 
neato_client_id: 
neato_client_secret: 
external_url: https://example.com
aws_access_id: 
aws_secret_access_key: 
influxdb_host: 
influxdb_database: 
influxdb_username: 
influxdb_password: 
recorder_db_url: mysql://homeassistant:secretname@core-mariadb/homeassistant?charset=utf8
spotify_client_id: 
spotify_client_secret: 
tablet_trusted_user_id: 
esphome_ssid: 
esphome_ssid_password: 
google_api_key: 
nest_client_id: 83751842865-bbgsu1tg1dnq9vpl7vd6i4s4t003okok.apps.googleusercontent.com
nest_client_secret: 4WpiF64SDrDCXuXzJv0UrVjH
nest_project_id: 02a0314d-46f0-497a-bd84-2146cd5b751c
nest_subscriber_id: projects/home-assistant-308010/subscriptions/Pastorale